<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
     <h1>Create A BasketBall Team!</h1>
     <form action="/team" method="POST" > Team Name:
        <input type="text" name="name" placeholder="name"/> <br>
            Coach:
        <input type="text" name="coach" placeholder="coach"/> <br>
            Point Guard:
        <input type="text" name="pg" placeholder="pg"/> <br>
            Shooting Guard:
        <input type="text" name="sg" placeholder="sg"/> <br>
            Power Forward:
        <input type="text" name="pf" placeholder="pf"/> <br>
            Small Forward:
        <input type="text" name="sf" placeholder="sf"/> <br>
            Center:
        <input type="text" name="c" placeholder="c"/> <br>
        <input type="submit" value="submit"/>

     </form>

 </body>
</html>
